[submodule "Carthage/Checkouts/Starscream"]
	path = Carthage/Checkouts/Starscream
	url = https://e1e73d18b11883ea56bb059cc5f29e92e2c7c66e@github.com/daltoniam/Starscream.git
[submodule "Carthage/Checkouts/SQLite.swift"]
	path = Carthage/Checkouts/SQLite.swift
	url = https://e1e73d18b11883ea56bb059cc5f29e92e2c7c66e@github.com/stephencelis/SQLite.swift.git
